{% extends 'base.html' %}
{% block body_block %}
		<!--==============================content================================-->
<section id="content" class="top-0">
    <div class="wrapper">
	  <div class="main-block-1">
          <h2 class="padd-h2-2-1 bord-bot-2"><strong>Officers</strong></h2>
            <table>
           	    <tr>
              		<td><strong>President:<a href="mailto:">Carl Susini</a></strong> <span> </span></td>
           	    </tr>
           	    <tr>
              		<td><strong>VicePresident:<a href="mailto:">Tom Burke</a></strong> <span> </span></td>
           	    </tr>

            </table>
      </div>
    </div><!--the end of wrapper-->
{% endblock %}