{% extends 'base.html' %}
{% block body_block %}
<!--==============================content================================-->
<section id="content" class="top-0">
    <div class="wrapper">
	  <div class="main-block-left">
          <h2 class="padd-h2-2-1"><strong>BPYFL</strong> STANDINGS</h2>
          <span class="font-16 txt_uppercase bold">American League</span>
          <div class="div-table top-2-1">
	          <table>
	              <tr>
                     <td class="first-tr first-td">American</td>
                     <td class="first-tr">W</td>
                     <td class="first-tr">L</td>
                     <td class="first-tr">PCT</td>
                     <td class="first-tr">GB</td>
                     <td class="first-tr">Home</td>
                     <td class="first-tr">Road</td>
                     <td class="first-tr">L10</td>
                     <td class="first-tr">STRK</td>
                     <td class="first-tr">Elim</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Paramus</a></td>
                     <td class="">36</td>
                     <td class="">25</td>
                     <td class="">590</td>
                     <td class="">0.0</td>
                     <td class="">19-12</td>
                     <td class="">17-13</td>
                     <td class="">8-2</td>
                     <td class="">W5</td>
                     <td class="">-</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Wyckoff</a></td>
                     <td class="">35</td>
                     <td class="">26</td>
                     <td class="">574</td>
                     <td class="">1.0</td>
                     <td class="">17-14</td>
                     <td class="">18-12</td>
                     <td class="">6-4</td>
                     <td class="">W3</td>
                     <td class="">101</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Ridgewood</a></td>
                     <td class="">35</td>
                     <td class="">26</td>
                     <td class="">574</td>
                     <td class="">1.0</td>
                     <td class="">19-12</td>
                     <td class="">16-14</td>
                     <td class="">6-4</td>
                     <td class="">L1</td>
                     <td class="">101</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Wayne Boys Club</a></td>
                     <td class="">31</td>
                     <td class="">31</td>
                     <td class="">500</td>
                     <td class="">5.5</td>
                     <td class="">116-14</td>
                     <td class="">15-17</td>
                     <td class="">4-6</td>
                     <td class="">L3</td>
                     <td class="">96</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Wayne PAL</a></td>
                     <td class="">30</td>
                     <td class="">32</td>
                     <td class="">484</td>
                     <td class="">6.5</td>
                     <td class="">14-19</td>
                     <td class="">16-13</td>
                     <td class="">3-7</td>
                     <td class="">W1</td>
                     <td class="">96</td>
                  </tr>
	          </table>
          </div>
          <span class="font-16 txt_uppercase bold dis-block top-0-1 bot-0">National League</span>
          <div class="div-table bot-2">
	          <table>
	              <tr>
                     <td class="first-tr first-td">National</td>
                     <td class="first-tr">W</td>
                     <td class="first-tr">L</td>
                     <td class="first-tr">PCT</td>
                     <td class="first-tr">GB</td>
                     <td class="first-tr">Home</td>
                     <td class="first-tr">Road</td>
                     <td class="first-tr">L10</td>
                     <td class="first-tr">STRK</td>
                     <td class="first-tr">Elim</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Garfield</a></td>
                     <td class="">36</td>
                     <td class="">25</td>
                     <td class="">590</td>
                     <td class="">0.0</td>
                     <td class="">19-12</td>
                     <td class="">17-13</td>
                     <td class="">8-2</td>
                     <td class="">W5</td>
                     <td class="">-</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Bergenfield</a></td>
                     <td class="">35</td>
                     <td class="">26</td>
                     <td class="">574</td>
                     <td class="">1.0</td>
                     <td class="">17-14</td>
                     <td class="">18-12</td>
                     <td class="">6-4</td>
                     <td class="">W3</td>
                     <td class="">101</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Lodi</a></td>
                     <td class="">35</td>
                     <td class="">26</td>
                     <td class="">574</td>
                     <td class="">1.0</td>
                     <td class="">19-12</td>
                     <td class="">16-14</td>
                     <td class="">6-4</td>
                     <td class="">L1</td>
                     <td class="">101</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Dumont</a></td>
                     <td class="">35</td>
                     <td class="">26</td>
                     <td class="">574</td>
                     <td class="">1.0</td>
                     <td class="">19-12</td>
                     <td class="">16-14</td>
                     <td class="">6-4</td>
                     <td class="">L1</td>
                     <td class="">101</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Ridgewood Maroon </a></td>
                     <td class="">31</td>
                     <td class="">31</td>
                     <td class="">500</td>
                     <td class="">5.5</td>
                     <td class="">116-14</td>
                     <td class="">15-17</td>
                     <td class="">4-6</td>
                     <td class="">L3</td>
                     <td class="">96</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Ridgewood White </a></td>
                     <td class="">31</td>
                     <td class="">31</td>
                     <td class="">500</td>
                     <td class="">5.5</td>
                     <td class="">116-14</td>
                     <td class="">15-17</td>
                     <td class="">4-6</td>
                     <td class="">L3</td>
                     <td class="">96</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Wayne Boys Club</a></td>
                     <td class="">31</td>
                     <td class="">31</td>
                     <td class="">500</td>
                     <td class="">5.5</td>
                     <td class="">116-14</td>
                     <td class="">15-17</td>
                     <td class="">4-6</td>
                     <td class="">L3</td>
                     <td class="">96</td>
                  </tr>
                  <tr>
                     <td class="first-td"><a href="#">Wyckoff</a></td>
                     <td class="">31</td>
                     <td class="">31</td>
                     <td class="">500</td>
                     <td class="">5.5</td>
                     <td class="">116-14</td>
                     <td class="">15-17</td>
                     <td class="">4-6</td>
                     <td class="">L3</td>
                     <td class="">96</td>
                  </tr>
	          </table>
          </div>

      </div><!--the end of left block
      <div class="main-block-right bord-left-none-1">
          <div class="inner bord-rad-right bot-1">
               <h2 class="padd-h2-1"><strong>AL</strong> standings</h2>
               <span class="col-2 bold txt_uppercase dis-block bot-0-1">Division Standings</span>
               <ul class="list-2 left">
               	<li><a href="#"><strong></strong>AL East<span id="span-1">W/L</span></a></li>
               	<li><a href="#"><strong></strong>NY Yankees<span>36-25</span></a></li>
               	<li><a href="#"><strong></strong>Tampa Bay<span>35-26</span></a></li>
               	<li><a href="#"><strong></strong>Baltimore<span>35-26</span></a></li>
               	<li><a href="#"><strong></strong>Toronto<span>31-31</span></a></li>
               	<li><a href="#"><strong></strong>Boston<span>30-32</span></a></li>
               </ul>
               <span class="col-2 bold txt_uppercase dis-block bot-0-1 top-3-1">Division Standings</span>
               <ul class="list-2 left bot-3">
               	<li><a href="#"><strong></strong>AL Central<span id="span-1-1">W/L</span></a></li>
               	<li><a href="#"><strong></strong>Chi. White Sox<span>36-25</span></a></li>
               	<li><a href="#"><strong></strong>Cleveland<span>35-26</span></a></li>
               	<li><a href="#"><strong></strong>Detroit<span>35-26</span></a></li>
               	<li><a href="#"><strong></strong>Kansas City<span>31-31</span></a></li>
               	<li><a href="#"><strong></strong>Minnesota<span>30-32</span></a></li>
               </ul>
          </div>
          <div class="inner-1">
              <h2 class="padd-h2-2 bord-bot-4"><strong>Team</strong> <span>Leaders</span></h2>
              <div class="wrapper-extra block-1">
                <img src="images/page-2-img.jpg" alt="" class="fleft top-1 left right">
                <div class="extra-wrap">
                   <a href="#" class="col hov bold dis-inblock top-1-1">Adipisicing Elit</a>
                   <p class="line-h-18 top-1-2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                </div>
              </div>
              <div class="wrapper-extra block-1">
                <img src="images/page-2-img-1.jpg" alt="" class="fleft top-1 left right">
                <div class="extra-wrap">
                   <a href="#" class="col hov bold dis-inblock top-1-1">Excepteur sint</a>
                   <p class="line-h-18 top-1-2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                </div>
              </div>
              <div class="wrapper-extra block-1 last-bot">
                <img src="images/page-2-img-2.jpg" alt="" class="fleft top-1 left right">
                <div class="extra-wrap">
                   <a href="#" class="col hov bold dis-inblock top-1-1">cupidatat non proid</a>
                   <p class="line-h-18 top-1-2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                </div>
              </div>
              <a href="#" class="link-3 top-1-3 bot-4">See all <strong></strong></a>
          </div>
      </div>  <!--the end of right-block-->
      <div class="clear"></div>
      <!--
      <aside>
         <div class="container_12">
             <div class="grid_3">
                <h3 class="padd">Informative</h3>
                <ul class="list">
	             	<li><a href="#">Headlines</a></li>
	             	<li><a href="#">History</a></li>
	             	<li><a href="#">Columns</a></li>
	             	<li><a href="#">Interviews</a></li>
	             	<li><a href="#">Almanac</a></li>
	             	<li><a href="#">Schedule</a></li>
	             	<li><a href="#">Mixed Martial Arts</a></li>
                </ul>
             </div>
             <div class="grid_3">
                <h3 class="padd">Interactive</h3>
                <ul class="list">
	             	<li><a href="#">Interactive</a></li>
	             	<li><a href="#">Biofiles</a></li>
	             	<li><a href="#">Odds</a></li>
	             	<li><a href="#">Store</a></li>
	             	<li><a href="#">Videos</a></li>
	             	<li><a href="#">Book Reviews</a></li>
	             	<li><a href="#">Links</a></li>
                </ul>
             </div>
             <div class="grid_3">
                <h3 class="padd">Interact With Us</h3>
                <ul class="list">
	             	<li><a href="#">Facebook</a></li>
	             	<li><a href="#">Twitter</a></li>
	             	<li><a href="#">Flickr</a></li>
	             	<li><a href="#">RSS Feed</a></li>
	             	<li><a href="#">Contact Us</a></li>
                </ul>
             </div>
             <div class="grid_3">
                <h3 class="padd">Baseball In Depth</h3>
                <ul class="list">
	             	<li><a href="#">Labore et dolore</a></li>
	             	<li><a href="#">Magna aliqua</a></li>
	             	<li><a href="#">Ut enim ad minim</a></li>
	             	<li><a href="#">Veniam</a></li>
	             	<li><a href="#">Quis nostrud</a></li>
	             	<li><a href="#">Exercitation ullamco</a></li>
                </ul>
             </div>
             <div class="clear"></div>
         </div>
      </aside>
    </div><!--the end of wrapper-->
{% endblock %}