{% extends 'base.html' %}
{% block body_block %}
		<!--==============================content================================-->
<section id="content" class="top-0">
    <div class="wrapper">
	  <div class="main-block-1">
          <h2 class="padd-h2-2-1 bord-bot-2"><strong>Teams</strong></h2>
          <div class="grid_6 marg_left-0">
              <span class="font-16 txt_uppercase bold"></span>
              <div class="div-table-2 top-3">
	              <table>
	              	<tr>
	              		<td class="bg-td">American League - A1</td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://wyckoff-football.org/">Wyckoff</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Ridgewood</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Paramus</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://www.bgcnwnj.org/wbgc/travelprograms.asp?ProgID=14">Wayne Boys and Girls Club</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://www.waynepal.org/athletic-programs/football.html">Wayne PAL</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Paterson</a></strong> <span> </span></td>
	              	</tr>
	              </table>
              </div>

              <div class="div-table-2 top-5">
	              <table>
	              	<tr>
	              		<td class="bg-td">National League - A2</td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Dumont</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href=" http://www.bgcgarfield.org/content/garfield-junior-boilermakers">Garfield</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Bergenfield</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://www.bgcnwnj.org/wbgc/travelprograms.asp?ProgID=14">Wayne Boys and Girls Club</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Ridgewood</a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://wyckoff-football.org/">Wyckoff </a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="#">Lodi </a></strong> <span> </span></td>
	              	</tr>
	              	<tr>
	              		<td><strong><a href="http://www.hawthornecubs.org/">Hawthorne </a></strong> <span> </span></td>
	              	</tr>
	              	
	              </table>
              </div>
        </div>
        </div>

    </div><!--the end of wrapper-->
{% endblock %}